@charset "ISO-8859-1";
.primary-background{
	background: #2979ff
}

.liked {
    color: red; /* Change the color of the like icon */
    pointer-events: none; /* Disable pointer events to prevent further clicks */
}
